/* 
Palette: 
https://colorhunt.co/palette/a2d2fffef9efff865efee440
*/

body {
  text-align: center;
  background-color: #a2d2ff;
}

footer {
  margin-top: 25px;
}

.header {
  color: #fef9ef;
  display: inline-block;
  font-size: 3rem;
  width: 40%;
}

.title {
  display: block;
  margin-top: 15px;
}

.progress {
  display: block;
  margin: 35px;
}

.btn {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  height: 125px;
  width: 125px;
  display: inline-block;
  margin: 5px;
}

#blue {
  border-radius: 5% 5% 35% 5%;
  background-color: blue;
}

#yellow {
  border-radius: 5% 35% 5% 5%;
  background-color: yellow;
}

#red {
  border-radius: 5% 5% 5% 35%;
  background-color: red;
}

#green {
  border-radius: 35% 5% 5% 5%;
  background-color: green;
}

.flash {
  box-shadow: 0 3px 4px 0 #dbedf3;
  height: 120px;
  width: 120px;
  opacity: 0.5;
}

.gameover {
  background-color: red;
}